.logo_wrapper {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: start;
  
    .logo {
      width: 100%;
      height: 100%;
    }
  }
.app-header{
  background-color: rgb(7, 20, 20);
}